:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #ffeef6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --menu-button-color: #353430;
  --decorated-border: solid 1px #353430;
  --section-heading-color: #353430;
  --decorated-border-hover: solid 1px rgba(50, 49, 45, 0.4);
  --secodary-title-color: #353430;
  --title-color: #ffc2e6;
  --rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --menu-button-color: #353430;
    --decorated-border: solid 1px #353430;
    --section-heading-color: #353430;
    --decorated-border-hover: solid 1px rgba(50, 49, 45, 0.4);
    --secodary-title-color: #353430;
    --title-color: #ffc2e6;
    --rec: none;
  }
}
