:root {
  font-size: 18px;
}

.page {
  background: no-repeat center var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: var(--page-padding);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: normal;
  color: var(--text-color);
}

.header {
  inline-size: 100%;
  block-size: calc(100vh - var(--page-padding) * 2);
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-content: space-evenly;
  padding-block-start: 10px;
  min-block-size: 648px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  justify-self: end;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: var(--decorated-border-hover);
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  color: var(--menu-button-color);
  border: solid 1px transparent;
  min-block-size: 26px;
  min-inline-size: 70px;
  padding-inline: 13px;
  line-height: 1rem;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--decorated-border);
}

.header__theme-menu-button_active {
  border: var(--decorated-border);
  pointer-events: none;
}

.decorated-zone::after {
  inline-size: 25px;
  block-size: 25px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-block-end: var(--decorated-border);
  border-inline-start: var(--decorated-border);
  content: "";
}

.decorated-zone::before {
  inline-size: 25px;
  block-size: 25px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-block-start: var(--decorated-border);
  border-inline-end: var(--decorated-border);
  content: "";
}

.header__rec {
  display: var(--rec);
  position: absolute;
  top: 0;
  right: 9px;
  min-block-size: 26px;
  align-items: center;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  margin-inline-start: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__title {
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
  margin-block-start: 10px;
}

.header__text {
  min-block-size: 117px;
  max-inline-size: 355px;
  justify-self: end;
}

.content {
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 30px;
  padding-block: 50px;
  line-height: 23.4px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
  border: solid 1px transparent;
}

.content__link:hover {
  border-block-end: solid 1px var(--text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: solid 1px var(--text-color);
}

.section__heading {
  color: var(--section-heading-color);
  margin-block-end: 20px;
}

.content__block-item {
  display: grid;
  gap: 10px;
  margin-block-end: 20px;
}

.section__subheading {
  background-color: var(--accent-color);
  color: var(--secodary-title-color);
  font-weight: bold;
}

.section__how-to-concentrate .section__subheading {
  font-weight: normal;
}

.section__how-to-concentrate .section__subheading-accent {
  margin-block-end: 20px;
  font-weight: bold;
}

.section__gallery-images {
  display: grid;
  gap: 10px;
}

.gallery-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery__heading-tablet {
  margin-block-end: 10px;
}

.footer {
  inline-size: 100%;
  block-size: calc(100vh - var(--page-padding) * 2);
  position: relative;
  display: grid;
  place-items: center;
}

.footer__title {
  font-size: var(--title-size);
  text-shadow: 2px 2px var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
}

@media (width >=768px) {
  .header__title {
    margin-inline-start: -20px;
  }

  .page {
    --page-padding: 20px;
    padding: var(--page-padding);
  }

  .section__heading {
    max-inline-size: 236px;
  }

  .section:not(.section__factors-affecting-attention) {
    display: grid;
    grid-template-columns: 236px minmax(472px, max-content);
    gap: 20px;
  }

  .content {
    gap: 60px;
    padding-block: 80px;
  }

  .content__block-item {
    grid-template-rows: repeat(2, min-content);
  }

  .gallery__heading-tablet {
    margin-block-end: 20px;
  }

  .section__gallery-images {
    gap: 20px;
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
  }

  .sunset__img {
    grid-area: sunset;
  }

  .icecream__img {
    grid-area: icecream;
  }

  .books__img {
    grid-area: books;
  }

  .tape__img {
    grid-area: tape;
  }

  .street__img {
    grid-area: street;
  }
}

@media (width >=1024px) {
  .header {
    align-content: space-between;
    padding-block-start: 0;
    padding-block-end: 113px;
  }

  .header__title {
    margin-block-start: 159px;
  }

  .header__text {
    line-height: 23.4px;
    min-block-size: 71px;
    max-inline-size: 491px;
    font-weight: bold;
    justify-self: end;
  }

  .header__theme-menu-list {
    place-self: start center;
    display: flex;
  }

  .section__heading {
    min-inline-size: 315px;
  }

  .section:not(.section__factors-affecting-attention) {
    grid-template-columns: 315px minmax(649px, max-content);
  }

  .section__factors-affecting-attention .content__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content {
    gap: 60px;
    padding-block: 80px;
  }

  .gallery__heading-tablet {
    margin-block-end: 20px;
  }
}
